.site-footer {
  background: #121212;
  color: #eaeaea;
  padding: 0px 20px 40px;
  font-family: "Georgia", serif;
}

/* .footer-container {
  max-width: 1100px;
  margin: 0 auto;
  
} */


.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  border-top: 1px solid #2a2a2a;
  padding-top: 40px;
}
