
html, body{
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 100%;
}
/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;

}
/* #home {
  padding-top: 90px;
} */

section {
  scroll-margin-top: 70px;
}

/* HEADER BASE */
#academic-header {
  position: fixed;
  top: 0;               
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.88);
  backdrop-filter: blur(10px);
  transition: top 0.4s ease;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  
}

/* SHOW HEADER AFTER SCROLL */
#academic-header.scrolled {
  background: rgba(255, 255, 255, 0.88);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  border-bottom: 1px solid rgba(0,0,0,0.06);
  /* color: #0b071d; */
}

/* INNER LAYOUT */
.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 18px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAME (LEFT) */
.site-name {
  font-size: 18px;
  font-weight: 600;
  color: #0b071d;
  letter-spacing: 0.4px;
}

/* NAVIGATION (RIGHT) */
.nav-links a {
  margin-left: 32px;
  font-size: 15px;
  color: #0b071d;
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
}

/* UNDERLINE EFFECT */
/* .nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  /* text-decoration: underline red; 
  height: 1px;
  background-color: #111;
  transition: width 0.25s ease;
} */

.nav-links a:hover::after {
  width: 100%;
}


